footer {
    background-color: #353535;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;

    h2 {
        font-family: Shrikhand;
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 20px;
    }

    p {
        font-family: roboto;
        font-size: 16px;
        padding-bottom: 10px;
    }

    .hightlight_footer {
        font-weight: 400;
    }

    .element_footer {
        font-weight: 380;
    }

    .fa-utensils {
        padding-right: 15px;
    }

    .fa-handshake-angle {
        padding-right: 10px;
    }

}