* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    background-color: #fff;
}

footer {
    background-color: #353535;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;

    h2 {
        font-family: Shrikhand;
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 20px;
    }

    p {
        font-family: roboto;
        font-size: 16px;
        padding-bottom: 10px;
    }

    .hightlight_footer {
        font-weight: 400;
    }

    .element_footer {
        font-weight: 380;
    }

    .fa-utensils {
        padding-right: 15px;
    }

    .fa-handshake-angle {
        padding-right: 10px;
    }

}

/*Media Query for Desktop*/

@media (min-width: 1024px) {
    header {
        padding: 20px;

        a {
            padding-top: 5px;
        }
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 70px;
        padding-bottom: 10px;
        padding-right: 100px;

        h2 {
            padding-left: 80px;
        }

        .link_footer {
            display: flex;
            flex-direction: row;
            margin-top: 3px;
        }

        .hlght_line {
            display: flex;
            flex-direction: row;
            padding-right: 50px;
        }

        .fa-handshake-angle {
            padding-left: 20px;
        }
        
        .elmt_line {
            display: flex;
            flex-direction: row;
        }

        .element_footer {
            padding-right: 20px;
        }
    }
}