* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  background-color: #fff;
}

footer {
  background-color: #353535;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 40px;
}
footer h2 {
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding-bottom: 20px;
}
footer a {
  text-decoration: none;
}
footer p {
  font-family: roboto;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  padding-bottom: 10px;
}
footer .hightlight_footer {
  font-weight: 400;
}
footer .element_footer {
  font-weight: 380;
}
footer .fa-utensils {
  padding-right: 15px;
}
footer .fa-handshake-angle {
  padding-right: 10px;
}

/*Media Query for Desktop*/
@media (min-width: 1024px) {
  header {
    padding: 20px;
  }
  header a {
    padding-top: 5px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 70px;
    padding-bottom: 10px;
    padding-right: 100px;
  }
  footer h2 {
    padding-left: 80px;
  }
  footer .link_footer {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
  }
  footer .hlght_line {
    display: flex;
    flex-direction: row;
    padding-right: 50px;
  }
  footer .fa-handshake-angle {
    padding-left: 20px;
  }
  footer .elmt_line {
    display: flex;
    flex-direction: row;
  }
  footer .element_footer {
    padding-right: 20px;
  }
}
.loader {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 3s, visibility 3s;
}
.loader::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 15px solid #9356DC;
  border-top: 15px solid #EAEAEA;
  border-radius: 50%;
  animation: loading 3s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.loader_transition {
  opacity: 0;
  visibility: hidden;
}

.localisation {
  background-color: #EAEAEA;
  box-shadow: inset 0px 10px 20px -10px rgba(0, 0, 0, 0.2509803922), 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  position: relative;
  padding: 16px;
}
.localisation div, .localisation .ville {
  display: flex;
  justify-content: center;
  font-family: roboto;
  font-size: 16px;
  font-weight: 500;
}
.localisation i {
  padding-right: 17px;
}

.reservation {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reservation h2 {
  font-family: roboto;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 15px;
}
.reservation p {
  font-family: roboto;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}
.reservation .btn_explorer {
  display: flex;
  justify-content: center;
}
.reservation a {
  display: flex;
  justify-content: center;
  border-radius: 100px;
  border: 0px;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  text-align: center;
  font-family: roboto;
  font-size: 16px;
  font-weight: 450;
  text-decoration: none;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  transition: all 250ms ease-in-out;
}
.reservation a:hover {
  opacity: 90%;
}

.fonctionnement {
  margin-top: 50px;
  margin-bottom: 50px;
}
.fonctionnement h2 {
  font-family: roboto;
  font-size: 24px;
  font-weight: 900;
  margin-left: 20px;
  margin-bottom: 35px;
}
.fonctionnement .box_ordre {
  display: flex;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  text-align: center;
  padding-left: 30px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 30px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.fonctionnement .numero {
  border-radius: 20px;
  border: 1px solid #9356DC;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  padding-top: 2px;
  color: #fff;
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  left: -11px;
}
.fonctionnement i {
  padding-right: 20px;
  padding-top: 2px;
}
.fonctionnement .symbole {
  color: grey;
}
.fonctionnement .symbole_violet {
  color: #9356DC;
}
.fonctionnement p {
  font-family: roboto;
  font-size: 16px;
  font-weight: 550;
}

.restaurants_homepage {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}
.restaurants_homepage h2 {
  font-family: roboto;
  font-size: 24px;
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 20px;
}
.restaurants_homepage a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.restaurants_homepage .resto_content {
  width: 90%;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  margin-bottom: 15px;
}
.restaurants_homepage .img_resto {
  width: 100%;
  height: 170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.restaurants_homepage .btn_nouveau {
  display: flex;
  justify-content: center;
  background-color: #99E2D0;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 80px;
  color: #008766;
  font-family: roboto;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 10px;
  right: 15px;
}
.restaurants_homepage .resto_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
  position: relative;
}
.restaurants_homepage p {
  font-family: roboto;
  color: black;
}
.restaurants_homepage p, .restaurants_homepage .resto_titre {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 3px;
}
.restaurants_homepage p, .restaurants_homepage .resto_lieu {
  font-size: 17px;
  font-weight: 300;
}
.restaurants_homepage .favori_empty {
  background-color: #fff;
  height: 20px;
  width: 22px;
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 1;
}
.restaurants_homepage .favori_empty:hover {
  visibility: hidden;
}
.restaurants_homepage .favori_full {
  height: 20px;
  width: 22px;
  position: absolute;
  top: 10px;
  right: 0px;
}

/*Media Query for Desktop*/
@media (min-width: 1024px) {
  .localisation {
    box-shadow: none;
  }
  .reservation h2 {
    font-size: 40px;
  }
  .fonctionnement {
    padding-left: 150px;
    padding-right: 150px;
  }
  .fonctionnement .box_fonction {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .fonctionnement .box_ordre {
    width: 30%;
  }
  .restaurants_homepage {
    padding-left: 150px;
    padding-right: 150px;
  }
  .restaurants_homepage .resto_column {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
header a {
  position: absolute;
  left: 15px;
  top: 20px;
  text-decoration: none;
  display: flex;
  justify-content: left;
  color: #000;
  font-size: 25px;
}
header a:active {
  color: #000;
}

.menu_page img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.menu_page .menu_card {
  width: 100%;
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  bottom: 60px;
  margin-bottom: -60px;
  padding-bottom: 60px;
}
.menu_page .menu_card .menu_titre {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.menu_page .menu_card h2 {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 500;
  padding-left: 15px;
}
.menu_page .menu_card .favori_empty {
  background-color: #f6f6f6;
  height: 22px;
  width: 22px;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.menu_page .menu_card .favori_empty:hover {
  visibility: hidden;
}
.menu_page .menu_card .favori_full {
  height: 22px;
  width: 22px;
  position: absolute;
  top: 30px;
  z-index: 0;
}
.menu_page .menu_repas h3 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 350;
  padding-bottom: 5px;
  padding-left: 5%;
}
.menu_page .menu_repas hr {
  border-top: 4px solid #99E2D0;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  width: 40px;
  padding-bottom: 10px;
  margin-left: 5%;
}
.menu_page .menu_repas a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
}
.menu_page .menu_repas .menu_plat {
  background-color: #fff;
  border-radius: 20px;
  width: 90%;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  margin-bottom: 20px;
  font-family: roboto;
  overflow: hidden;
}
.menu_page .menu_repas .menu_emplacement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu_page .menu_repas .menu_description {
  padding: 15px;
  overflow: hidden;
}
.menu_page .menu_repas h4 {
  font-size: 18px;
  font-weight: 550;
  padding-bottom: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu_page .menu_repas .menu_ajout {
  font-size: 15.04px;
  font-weight: 350;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu_page .menu_repas .box_right {
  display: flex;
  flex-direction: row;
  margin-right: -60px;
  transition: all 600ms;
}
.menu_page .menu_repas .menu_plat:hover .box_right {
  margin-right: 0px;
}
.menu_page .menu_repas .menu_prix {
  font-size: 15.04px;
  font-weight: 550;
  padding-top: 38px;
  padding-right: 15px;
}
.menu_page .menu_repas .menu_selecteur {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 20px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}
.menu_page .menu_repas .last_on_list {
  margin-bottom: 25px;
}
.menu_page .cat1 {
  animation-duration: 2s;
  animation-name: opacity;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu_page .cat2 {
  animation-duration: 3s;
  animation-name: opacity;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu_page .cat3 {
  animation-duration: 4s;
  animation-name: opacity;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu_page .btn_commander {
  display: flex;
  justify-content: center;
}
.menu_page .btn_commander a {
  display: flex;
  justify-content: center;
  border-radius: 100px;
  border: 0px;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  text-align: center;
  font-family: roboto;
  font-size: 16px;
  font-weight: 450;
  text-decoration: none;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  transition: all 250ms ease-in-out;
}
.menu_page .btn_commander a:hover {
  opacity: 90%;
}

/*Media Query for Desktop*/
@media (min-width: 1024px) {
  .menu_page img {
    height: 380px;
    object-fit: cover;
  }
  .menu_page .emplacement_RD {
    display: flex;
    justify-content: center;
  }
  .menu_page .menu_card {
    width: 70%;
  }
  .menu_page .menu_card .menu_titre {
    display: flex;
    justify-content: center;
  }
  .menu_page .menu_card .menu_titre h2 {
    padding-right: 40px;
  }
  .menu_page .menu_card h3 {
    padding-left: 20%;
  }
  .menu_page .menu_card hr {
    margin-left: 20%;
  }
  .menu_page .menu_card .menu_plat {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
